# Arduino meta-arduino's imola/openocd_gpiod.cfg wiring, SWD only.
# https://github.com/arduino/meta-arduino/tree/master/meta-arduino-qcom/recipes-devtools/openocd/files/imola
adapter driver linuxgpiod
adapter gpio swclk 26 -chip 1
adapter gpio swdio 25 -chip 1
adapter gpio srst 38 -chip 1
transport select swd
source [find target/stm32u5x.cfg]
# GPIO bit-banging has no programmable clock. The generic target's reset
# hook otherwise reports an error every time it tries to set adapter speed.
$_TARGETNAME configure -event reset-start {}
reset_config srst_only srst_nogate srst_push_pull connect_assert_srst
gdb port disabled
tcl port disabled
telnet port disabled
